/* You can add global styles to this file, and also import other style files */

$fa-font-path: "../node_modules/font-awesome/fonts";
@import "../node_modules/font-awesome/scss/font-awesome.scss";

html, body { 
  margin:0; 
  padding:0; 
  border: 0; 
  width: 100%; 
  height: 100%; 
  // cursor: none;
}

body {
  font-size: 12px;
}



button {
  padding: 20px;
  border-radius: 5px;
  // border-width: 1px;
  // border-style: solid;
  // border-color: #CCC;
  border: 1px solid #CCC;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 1.3em;
  margin: 10px;
}

button[disabled] {
  color: #444;
  font-weight: bold;
}

button:hover {
  cursor: pointer; 
}

button:focus {
  outline: none;
}

.container-column {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.list {
  border-radius: 5px;
  border: 1px solid #CCC;
  /*border: 1px solid #71D1F1;*/
  background-color: rgba(0,0,0,.5);
  color: #fff;
  font-size: 1.3em;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: scroll;

  .list-item {
    border-bottom: 1px solid #CCC;
    padding: 20px;

    .list-item-content {
      display: flex;

      .list-item-text {
        // display: inline-block;
        flex: 1;
        font-size: 1.2em;

        span {
          display: block;
          font-size: .8em;
          margin-top: 5px;
        }
      }
    }

    button {
      background: transparent;
      padding: 15px;
      border-radius: 0;
      border-width: 0;
      font-size: 1em;
      margin: 0;
      width: 110px;
    }
  }

  :last-child{
    border-bottom: none;
  }

  .list-item:first-child{
    border-bottom: 1px solid #CCC;
  }
}


div.mapboxgl-ctrl-group {
  border: 1px solid #ccc;
  background-color: rgba(0, 0, 0, 0.7);

  button {
    border-radius: 0;
  }

  .mapboxgl-ctrl-zoom-in {
    background-image: url(/assets/map-plus.png);
  }

  .mapboxgl-ctrl-zoom-out {
    background-image: url(/assets/map-minus.png);
  }
}