<div class="content-wrapper">

  <div>
    Device Details:
  <span>{{musicService.device|json}}</span>
  </div>

  <div>
    Player Details:
  <span>{{musicService.player|json}}</span>
  </div>

</div>


<div class="player">
  <div class="player-progress-wrapper">
    <div class="player-progress">
      <div class="progress" [ngStyle]="{width: musicService.progressPercent + '%'}"></div>
    </div>
  </div>
  <div class="player-left"></div>
  <div class="player-middle">
    <button class="player-previous-next" (click)="previous()"><i class="fa fa-backward fa-2x" aria-hidden="true"> </i></button>
    <button class="player-play-pause" *ngIf="musicService.playerStatus !== 'playing'" (click)="play()"><i class="fa fa-play fa-3x" aria-hidden="true"> </i></button>
    <button class="player-play-pause" *ngIf="musicService.playerStatus === 'playing'" (click)="pause()"><i class="fa fa-pause fa-3x" aria-hidden="true"> </i></button>
    <button class="player-previous-next" (click)="next()"><i class="fa fa-forward fa-2x" aria-hidden="true"> </i></button>
  </div>
  <div class="player-right"></div>
</div>