
.wrapper { 
  height: 100%; 
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;

  .container {
    flex: 1;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    /*border: 1px solid #ccc;*/
    overflow: hidden;
  }

  .menu {
    flex: 1;
    width: 100%;
    max-width: 80px;
    height: 100%;
    max-height: 100%;
    background: black;
    /*border-width: 1px 0 1px 1px;
    border-style: solid;
    border-color: #ccc;*/
  }

  .main-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    position: relative;

    app-status-bar {
      position: absolute;
      width: 100%;
      background-color: #000;
    }

    .main-content {
      background: linear-gradient(-25deg,#035584, black, black,#035584);
      position: absolute;
      box-sizing: border-box;
      // padding: 110px 30px 30px;
      padding-top: 80px;
      height: 100%;
      width: 100%;
    }
  }
}
