<div class="container">
  <div id='map'>
    <a href="http://mapbox.com/about/maps" class='mapbox-wordmark' target="_blank">Mapbox</a>
    <div class="mapbox-attribution-container">
      <a href="https://www.mapbox.com/map-feedback/">© Mapbox | </a>
      <a href="http://www.openstreetmap.org/copyright">© OpenStreetMap | </a>
      <a href="https://www.mapbox.com/map-feedback/" target="_blank"><strong>Improve this map</strong></a>  
    </div>
  </div>

  <div class="nav-search-container">
    <div class="nav-search-container-group">
      <div class="nav-search">
        <input placeholder="start location" value=""/> <button><i class="fa fa-times" aria-hidden="true"></i></button>
      </div>
      <div class="nav-search">
        <input placeholder="end location" value=""/> <button><i class="fa fa-times" aria-hidden="true"></i></button>
      </div>
    </div>
  </div>
</div>