<div class="container">
  <a routerLink="/" routerLinkActive="active"><i class="fa fa-home fa-3x" aria-hidden="true"> </i></a>
  <a routerLink="/music" routerLinkActive="active"><i class="fa fa-music fa-3x" aria-hidden="true"> </i></a>
  <a routerLink="/tilt-gauges" routerLinkActive="active"><i class="fa fa-tachometer fa-3x" aria-hidden="true"> </i></a>
  <a routerLink="/nav" routerLinkActive="active"><i class="fa fa-map-o fa-3x" aria-hidden="true"> </i></a>
  <a routerLink="/obd" routerLinkActive="active"><i class="fa fa-car fa-3x" aria-hidden="true"> </i></a>
  <a routerLink="/settings" routerLinkActive="active"><i class="fa fa-gear fa-3x" aria-hidden="true"> </i></a>
</div>