<div class="flex cluster">
  <div class="flex-item guage">
    <img src="assets/guage1.png" width="400" style="position:absolute;"/>
    <img src="assets/guage3.png" width="400" style="position:absolute; transition: 1s ease-in-out" [ngStyle]="{'transform': 'rotate('+(pitch - pitchOffset)+'deg)'}"/>
    <img src="assets/guage2.png" width="400" style="position:absolute;"/>
    <img src="assets/jeepside.png" width="400" style="position:absolute; transition: 1s ease-in-out" [ngStyle]="{'transform': 'rotate('+(pitch - pitchOffset)+'deg)'}"/>
    <img src="assets/guage4.png" width="400" style="position:absolute;"/>
    <div class="deg">{{pitch - pitchOffset}}<sup>o</sup></div>
  </div>
  <div class="flex-item guage">
    <img src="assets/guage1.png" width="400" style="position:absolute;"/>
    <img src="assets/guage3.png" width="400" style="position:absolute; transition: 1s ease-in-out" [ngStyle]="{'transform': 'rotate('+(roll - rollOffset)+'deg)'}"/>
    <img src="assets/guage2.png" width="400" style="position:absolute;"/>
    <img src="assets/jeeprear.png" width="400" style="position:absolute; transition: 1s ease-in-out" [ngStyle]="{'transform': 'rotate('+(roll - rollOffset)+'deg)'}"/>
    <img src="assets/guage4.png" width="400" style="position:absolute;"/>
    <div class="deg">{{roll - rollOffset}}<sup>o</sup></div>
  </div>
</div>
<div>
Original: {{pitch}}, {{roll}}
</div>
<div>
Adjusted: {{pitch - pitchOffset}}, {{roll - rollOffset}}
</div>
<button (click)="updateOffset()">Reset Gyro to 0,0</button>
<button (click)="fullscreen()">Fullscreen</button>